@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

*{
    margin:0;
    padding:0
}

body{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 10px;
    line-height: 15px
}