@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

/* Modern Normalize */
html{box-sizing:border-box}*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{padding:0}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}
html{
    /* CSS Variable : CSS 변수 */
    --main-color:#ccc6ff;
    --sub-color:#6759ff6e;
    --default-color:#000000;
    --gn-height:60px;
    --gf-height:100px;

    width:100%;
    height:100%;
    color:var(--default-color);
    font-family:'Noto Sans KR',sans-serif;
    /* 기본 폰트 사이즈 적용 */
    font-size:12px;
    /* font-weight:normal; */
    font-weight:400; /* regular */
    line-height:18px;
    /* line-height:1.5rem; */
}
/* px, pt, em, rem ... */
/* em - 상위요소에 지정된 크기를 기준으로 한 비율. */
/* rem - root(html)에서 지정된 크기를 기준으로 한 비율 */

body{
    overflow-x:hidden;
    width:100%;
    background-color:#ffffff;
    color:var(--main-color);
}
.blind{
    display:none!important;
    visibility:hidden!important;
    opacity:0;
    /* clip: rect(좌표) */
    /* 화면에 마스킹 */
    clip:rect(0 0 0 0);
    /* 이벤트가 발생되지 않음 */
    pointer-events:none;
    /* 이벤트 발생 - 기본값. */
    /* pointer-events:auto; */
}
.intro{
    padding-left: 40px;
    font-size: 17px;
}
.album p{
    padding-left: 40px;
    font-size: 14px;
}
.album p strong{
    font-size: 20px;
}
.albumBi{
    color: rgb(92, 63, 0);
    padding-left: 40px;
    font-size: 14px;
}
.albumBi p strong{
    font-size: 20px;
}
nav#global-nav{
    /* 12 * 300% = 36px */
    /* font-size:3em; */
    /* 12 * 300% = 36px */
    /* font-size:3rem; */
    
    position:fixed;
    /* top -> right -> bottom -> left */
    top:0;
    right:0;
    left:0;
    width:100%;
    min-width:1024px;
    height:var(--gn-height);
    background-color:#ccc6ff;
    -webkit-backdrop-filter:saturate(180%) blur(20px);backdrop-filter:saturate(180%) blur(20px);
}
nav#global-nav::before{
    content:'';
    display:inline-block;
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:0;
    /* border-top:1px solid #eeeeee; */
    pointer-events:none;
}


nav#global-nav ul.gn-list li{
    display:inline-block;
    vertical-align:top;
    
}
/* element(1) + element(2) */
/* (1)요소 다음으로 (2)요소가 있을 때, (2)요소에 스타일 적용 */
nav#global-nav ul.gn-list li + li{
    margin-left:20px;
}
/* element(1) ~ element(2) */
/* (1)요소 이후로 (2)요소가 있다면 (2)요소에 스타일 적용 */
nav#global-nav ul.gn-list li ~ li{
    /* margin-left:30px; */
}
nav#global-nav .gn-content{
    /* 36 * 50% = 18px */
    /* font-size:0.5em; */
    /* 12 * 50% = 6px */
    /* font-size:0.5rem; */
    /* 36 * 200% = 72px */
    /* font-size:2em; */
    /* 12 * 200% = 24px */
    /* font-size:2rem; */
    width:100%;
    float: right;
    max-width:1024px;/* 1024 - 60 */
    margin-right:auto;
    margin-left:auto;
    padding-right:30px;
    padding-left:450px;
    box-sizing:border-box;
}
/* gn-height : (60px - 24px(2rem)) / 2  */
nav#global-nav .gn-content ul.gn-list{
    margin:0;
    padding:0;
    padding-top:18px;
    padding-bottom:18px;
    list-style:none;
}


nav#global-nav ul.gn-list li a{
    color:var(--default-color);
    text-transform:uppercase;
    text-decoration:none;
    font-size:1.4rem; /* 18px */
    font-weight:700; /* bold */
    line-height:2rem; /* 24px */
}
nav#global-nav ul.gn-list li a span{
    color: white;
    display:inline-block;
    position:relative;
    vertical-align:top;
}
nav#global-nav ul.gn-list li a span::after{
    content:'';
    display:block;
    position:absolute;
    bottom:-2px;
    left:0;
    width:0;
    height:0;
    border-top:3px solid var(--sub-color);
    pointer-events:none;
    transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -ms-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -o-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
nav#global-nav ul.gn-list li a:hover span::after{
    width:100%;
    transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -webkit-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
/* vw, vh */
#main{
    width:100vw;
}
/* calc(number op(+,-,*,/) number)*/
#main section.section{
    width:100%;
    height:calc(100vh - var(--gn-height));
    color:#ffffff;
}
#main section.section:nth-child(1){
    height:100vh;
    padding-top:var(--gn-height);
    background-color:#ccc6ff;
}
#main section.section:nth-child(2){
    background-color:#ff006a3a;
}
#main section.section:nth-child(3){
    background-color:#ffe6003a;
}
#main section.section:nth-child(4){
    height:calc(100vh - var(--gn-height) - var(--gf-height));
    background-color:#0026ff3a;
}
#main section.section .section-content{
    display:flex;
    width:100%;
    max-width:1024px;
    height:100%;
    margin-right:auto;
    margin-left:auto;
    justify-content:center;
    align-items:center;
}
#main section.section .section-content h2{
    margin:0;
    padding:0;
    font-size:6rem;
    font-weight:700;
    line-height:8rem;
}
footer#global-footer{
    width:100%;
    height:var(--gf-height);
    background-color:var(--main-color);
    color:#ffffff;
}
footer#global-footer .gf-content{
    display:flex;
    width:100%;
    max-width:1024px;
    height:100%;
    margin-right:auto;
    margin-left:auto;
    justify-content:center;
    align-items:center;
}
footer#global-footer .gf-content h2{
    margin:0;
    padding:0;
    font-size:1rem; /* 12px */
    font-weight:400;
    line-height:1.25rem; /* 15px */
}
/* Variable */
html{--btn-size:50px}
/* Layout */
.blind{display:none!important;visibility:hidden!important;position:absolute;margin:0;padding:0;clip:rect(0 0 0 0);pointer-events:none}
html{min-height:100vh;color:#333;font-family:"Noto Sans KR",sans-serif;font-size:12px;font-weight:400;line-height:1.5rem}

.btn-menu{display: inline-block;position:relative;top:0;left:0;width:var(--btn-size);height:var(--btn-size);padding:15px; cursor:pointer;  -webkit-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955)}
.btn-menu span{display:block;position:absolute;top:50%;width:calc(100% - 30px); height:0; border-bottom:1px solid #666; transform:translateY(-50%);-webkit-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955); -moz-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955); -o-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955); -ms-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);  transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955)}
.btn-menu span::before,.btn-menu span::after{content:'';display:block;position:absolute;top:0;width:100%;height:0;border-bottom:1px solid #666;-webkit-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955)}
.btn-menu span::before{transform:translateY(-8px)}
.btn-menu span::after{transform:translateY(8px)}
.btn-menu:hover{background-color:var(--sub-color)}
.btn-menu:hover span,.btn-menu:hover span::before,.btn-menu:hover span::after{border-color:#fff}
.side-menu{overflow-x:hidden;overflow-y:auto;position:fixed;top:0;left:0;width:250px;height:100vh;background-color:rgba(255, 255, 255, 0.205);box-shadow:1px 0 2px rgba(0,0,0,0.15);-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-o-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:-webkit-transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:-moz-transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:-o-transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:-ms-transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);transition:transform 400ms cubic-bezier(0.455,0.030,0.515,0.955)}
.side-menu.open{transform:translateX(0)}
.side-menu ul{margin:0;padding:0;margin-top:70px;padding-left:40px;list-style:none}
.side-menu li + li{padding-top:15px}
.side-menu li a{display:inline-block;position:relative;vertical-align:top;color:#222;text-decoration:none;font-size:1.667rem;font-weight:700;letter-spacing:0.5px;line-height:2.500rem;opacity:0;transform:translateX(20px);}
.side-menu li a span{display:inline-block;position:relative;vertical-align:top}
.side-menu li a span::after{content:'';display:block;position:absolute;z-index:-1;bottom:0;left:0;width:0;height:0;border-bottom:6px solid var(--sub-color);-webkit-transition:width 280ms cubic-bezier(0.250,0.460,0.450,0.940);-moz-transition:width 280ms cubic-bezier(0.250,0.460,0.450,0.940);-o-transition:width 280ms cubic-bezier(0.250,0.460,0.450,0.940);-ms-transition:width 280ms cubic-bezier(0.250,0.460,0.450,0.940);transition:width 280ms cubic-bezier(0.250,0.460,0.450,0.940)}
.side-menu li a:hover span::after{width:100%}
.side-menu .btn-close{overflow:hidden;display:block;position:absolute;top:0;right:0;width:var(--btn-size);height:var(--btn-size);padding:15px;cursor:pointer;-webkit-transform:translateX(100%) rotate(45deg);-moz-transform:translateX(100%) rotate(45deg);-o-transform:translateX(100%) rotate(45deg);-ms-transform:translateX(100%) rotate(45deg);transform:translateX(100%) rotate(45deg);-webkit-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955),-webkit-transform 250ms 400ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955),-moz-transform 250ms 400ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955),-o-transform 250ms 400ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955),-ms-transform 250ms 400ms cubic-bezier(0.455,0.030,0.515,0.955);transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955),transform 250ms 400ms cubic-bezier(0.455,0.030,0.515,0.955)}
.side-menu.open .btn-close{transform:translateX(0) rotate(0deg)}
.side-menu .btn-close span{overflow:hidden;display:block;position:relative;width:100%;height:100%}
.side-menu .btn-close span::before,.side-menu .btn-close span::after{content: '';display:block;position:absolute;height:1px;width:200%;top:50%;left:-50%;background-color:#222;-webkit-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955)}
.side-menu .btn-close span::before{-webkit-transform:translateY(-50%) rotate(45deg);-moz-transform:translateY(-50%) rotate(45deg);-ms-transform:translateY(-50%) rotate(45deg);-o-transform:translateY(-50%) rotate(45deg);transform:translateY(-50%) rotate(45deg)}
.side-menu .btn-close span::after{-webkit-transform:translateY(-50%) rotate(-45deg);-moz-transform:translateY(-50%) rotate(-45deg);-ms-transform:translateY(-50%) rotate(-45deg);-o-transform:translateY(-50%) rotate(-45deg);transform:translateY(-50%) rotate(-45deg)}    
.side-menu .btn-close:hover{background-color:#9e93ffd8}
.side-menu .btn-close:hover span::before,.side-menu .btn-close:hover span::after{background-color:#fff} 
.side-menu li.ani > a{opacity:1.0;transform:translateX(0);animation:menuAni 250ms cubic-bezier(0.455,0.030,0.515,0.955)}
@keyframes menuAni{
    0%{opacity:0;transform:translateX(20px)}
    100%{opacity:1.0;transform:translateX(0)}
}